<div class = "row col-md-6 col-md-offset-3 user-welcome"> Hello <%= current_user.name %>. </div>

  <div class = "row col-md-6 col-md-offset-3 welcome-link">
    <%= link_to "Edit my profile", edit_user_registration_path %>
  </div>

  <div class = "row col-md-6 col-md-offset-3 welcome-link">
    <%= link_to "Browse public wikis", wikis_path %>
  </div>

  <div class = "row col-md-6 col-md-offset-3 welcome-link">
    <%= link_to "Create new wiki", new_wiki_path %>
  </div>
