<% if current_user.role == 'admin' || current_user.role == 'premium' %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %>
        <% end %>
        
        Private Wiki

</div>

      <div>
      <% if @wiki.private? %>
        <%= f.label :Select_Collaborators %>

        <div>
        <%= select_tag "collaborators", options_from_collection_for_select(User.all, 'id', 'name', @wiki.users.map{ |j| j.id } ), 
          options = {:multiple => true, :style => 'width: 250px; height: 100px'}
        %>
        </div>

        <% end %>
        
      </div>
    
<% end %>