<div class = "container">
  <div class = "title"><%= markdown_to_html @wiki.title %></div>
  <div class = "body col-md-8 col-md-offset-2"><%= simple_format(markdown_to_html @wiki.body) %></div>


<div class = "row col-md-6 col-md-offset-3">
  <div class = "col-md-3 col-md-offset-3" id = "post-buttons-center">
    <%= link_to "edit", edit_wiki_path(@wiki) %>
  </div>
  <div class = "col-md-3" id = "post-buttons-center">
    <%= @wiki.private ? link_to("return to list", private_wikis_path) : link_to("return to list", wikis_path) %>
  </div>
  </div>
</div>