<div class = "container">
  <div class="row info-panel">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Upgrade to a premium account</h3>
      </div>
      <div class="panel-body">
        <li>All the features of a free account</li>
        <li>Unlimited private wikis</li>
        <li>$10 one-time fee</li>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>