// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-family: HelveticaNeue-Light;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.wiki-link{
  font-family: HelveticaNeue-Light;
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

#edit-delete{
  text-align: right;
}