<!DOCTYPE html>
<html>
<head>
  <!-- turn this into a dynamic title later -->
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="http://cdn.backgroundhost.com/backgrounds/subtlepatterns/absurdidad.png">

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Sign In</a></li>
      </ul>
    </nav>
  </div>

  <div align="center" style = "padding-bottom: 10px" >
    <h1>Blocipedia: Social, Markdown Wikis</h1>
  </div>

<%= yield %>

</body>
</html>
